body {
  font-family: "Roboto", sans-serif;
}

#page-container {
  display: grid;
  grid-template-columns: 21% 79%;
  grid-template-rows: 28% 72%;
  width: 100vw;
  height: 100vh;
}

#nav-bar {
  display: grid;
  /*grid-template-rows: 1fr 5fr 2.5fr;*/
  grid-template-rows: 10% 45% 20%;
  grid-row-start: 1;
  grid-row-end: 3;
  row-gap: 6%;
  background-color: #1893d4;
  box-shadow: 1px 0 2px #8dc0de;
  z-index: 2;
}

.option-container {
  min-width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.option-container a {
  display: flex;
  align-items: center;
  text-decoration: none;
  column-gap: 0.75rem;
}

.option-container .iconify {
  min-width: 10%;
  min-height: 50%;
  color: #fefffe;
}

.option-container h1,
.option-container h3 {
  color: #fefffe;
  font-weight: bolder;
}

.nav-header .option-container {
  padding: 1rem;
  column-gap: 0.75rem;
  min-width: 3rem;
  min-height: 3rem;
}

.nav-header .iconify {
  width: 3rem;
  height: 3rem;
  min-width: 10%;
  min-height: 50%;
}

.nav-header h1 {
  font-size: 1.75rem;
}

.nav-items {
  display: grid;
}

.nav-items .option-container {
  padding-left: 1.5rem;
  column-gap: 1.25rem;
}

.nav-items .option-container .iconify {
  min-width: 10%;
  min-height: 50%;
}

.nav-items .option-container h3 {
  font-size: 130%;
  /*font-size: 1.375rem;*/
}

.nav-items .option-container:hover {
  background-color: #fefffe;
}

.nav-items .option-container:hover h3,
.nav-items .option-container:hover .iconify {
  color: #1893d4;
}

.header-container {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  box-shadow: 0 4px 5px #ccd1d8;
  z-index: 1;
}

.header {
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  row-gap: 25%;
  margin: 1.25rem 0;
  margin-left: 2.5rem;
  margin-right: 4rem;
  background-color: white;
}

.up-header {
  display: grid;
  grid-template-columns: 7fr 3fr;
  column-gap: 10%;
}

.search {
  display: flex;
  align-items: center;
  gap: 16px;
}

.search .iconify {
  width: 1.5rem;
  height: 1.5rem;
  color: black;
}

.search-bar {
  width: 100%;
  height: 1.75rem;
  padding: 0 0.4375rem;
  background-color: #e2e9f1;
  border: none;
  border-radius: 1.25rem;
}

.search input[type="text"]:focus {
  outline: none;
}

.mini-user-info {
  display: grid;
  margin-right: 8%;
  justify-content: end;
  grid-template-columns: 0.1fr 0.1fr 0.1fr;
  column-gap: 1.875rem;
  align-items: center;
  white-space: nowrap;
}

.mini-user-info .iconify {
  width: 1.5rem;
  height: 1.5rem;
}

.mini-user-info img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.mini-user-info h4 {
  font-weight: bolder;
}

.down-header {
  display: grid;
  grid-template-columns: 5fr 3.5fr;
  column-gap: 15%;
}

.user-info {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  column-gap: 4%;
  align-items: center;
}

.user-info img {
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 50%;
}

.welcome {
  display: grid;
  row-gap: 0.5rem;
  text-wrap: nowrap;
}

.welcome p {
  font-weight: bolder;
  font-size: 90%;
}

.welcome h4 {
  font-weight: bolder;
  /*font-size: 24px;*/
  font-size: 140%;
}

.user-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.875rem;
  align-items: center;
}

.user-buttons button {
  height: 50%;
  font-size: 90%;
  font-weight: bold;
  color: #fcfffe;
  background-color: #1892d5;
  border-radius: 100px;
  border: none;
}

.user-buttons button:hover {
  cursor: pointer;
  opacity: 90%;
}

.main-container {
  grid-column-start: 2;
  grid-row-start: 2;
  background-color: #e3e8f1;
}

main {
  width: calc(100% - 50);
  height: calc(100% - 95px);
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  margin: 2.1875rem 1.875rem 3.75rem 1.25rem;
}

.projects-section {
  grid-row: 1 2;
  grid-column: 1 1;
}

.announcements-section {
  grid-row: 1;
  grid-column: 2;
}

.trending-section {
  grid-row: 2;
  grid-column: 2;
}
