body {
  font-family: "Roboto", sans-serif;
}

#page-container {
  display: grid;
  grid-template-columns: 1fr 3.8fr;
  grid-template-rows: 2fr 5.5fr;
  width: 100vw;
  height: 100vh;
}

#nav-bar {
  display: grid;
  /*grid-template-rows: 1fr 5fr 2.5fr;*/
  grid-template-rows: 10% 50% 25%;
  grid-row-start: 1;
  grid-row-end: 3;
  row-gap: 6%;
  background-color: #1893d4;
}

.option-container {
  min-width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.option-container a {
  display: flex;
  align-items: center;
  text-decoration: none;
  column-gap: 0.75rem;
}

.option-container .iconify {
  min-width: 10%;
  min-height: 50%;
  color: #cae4f5;
}

.option-container h1,
.option-container h3 {
  color: #cae4f5;
  font-weight: bolder;
}

.nav-header .option-container {
  padding: 1rem;
  column-gap: 0.75rem;
  min-width: 3rem;
  min-height: 3rem;
}

.nav-header .iconify {
  width: 3rem;
  height: 3rem;
  min-width: 10%;
  min-height: 50%;
}

.nav-header h1 {
  font-size: 1.75rem;
}

.nav-items {
  display: grid;
}

.nav-items .option-container {
  padding-left: 1.5rem;
  column-gap: 1.5rem;
}

.nav-items .option-container .iconify {
  min-width: 10%;
  min-height: 50%;
}

.nav-items .option-container h3 {
  font-size: 140%;
  /*font-size: 1.375rem;*/
}

.nav-items .option-container:hover {
  background-color: #cae4f5;
}

.nav-items .option-container:hover h3,
.nav-items .option-container:hover .iconify {
  color: #1893d4;
}

.header-container {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.header {
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  row-gap: 20%;
  margin: 1.25rem 0;
  margin-left: 2.5rem;
  margin-right: 4rem;
}

.up-header {
  display: grid;
  grid-template-columns: 7fr 3fr;
  column-gap: 10%;
}

.search {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.search .iconify {
  width: 1.5rem;
  height: 1.5rem;
  color: black;
}

.search-bar {
  width: 100%;
  height: 1.75rem;
  padding-left: 0.4375rem;
  background-color: #e2e8f0;
  border: none;
  border-radius: 1.25rem;
}

.search input[type="text"]:focus {
  outline: none;
}

.mini-user-info {
  display: grid;
  justify-content: end;
  grid-template-columns: 0.1fr 0.1fr 0.1fr;
  column-gap: 1.875rem;
  align-items: center;
  white-space: nowrap;
}

.mini-user-info .iconify {
  width: 1.5rem;
  height: 1.5rem;
}

.mini-user-info img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.mini-user-info h4 {
  font-weight: bolder;
}

.down-header {
  display: grid;
  grid-template-columns: 5fr 3.5fr;
  column-gap: 15%;
}

.user-info {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  column-gap: 4%;
  align-items: center;
}

.user-info img {
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 50%;
}

.welcome p {
  font-weight: bolder;
}

.welcome h4 {
  font-weight: bolder;
}

main {
  grid-column-start: 2;
  grid-row-start: 2;
  background-color: #e2e8f0;
}
