body {
  font-family: "Roboto", sans-serif;
}

body a {
  text-decoration: none;
  color: black;
}

#page-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 21% 79%;
  grid-template-rows: 18% 82%;
  background-color: #1893d4;
}

#nav-bar {
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #1893d4;
  box-shadow: 1px -2px 2px #8dc0de;
  z-index: 2;
}

.nav-items-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 45% 22%;
  row-gap: 5%;
}

.option-container {
  min-width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.option-container a {
  display: flex;
  align-items: center;
  text-decoration: none;
  column-gap: 0.75rem;
}

.option-container .iconify {
  width: calc(1.5vh + 1vw);
  height: auto;
  color: #fefffe;
}

.option-container h1,
.option-container h3 {
  color: #fefffe;
  font-weight: bolder;
}

.nav-header .option-container {
  padding: 1rem;
  column-gap: 0.75rem;
}

.nav-header .iconify {
  width: 7vh;
  height: 7vh;
}

.nav-header h1 {
  font-size: calc(1vw + 2vh);
}

.nav-items {
  display: grid;
}

.nav-items .option-container {
  padding-left: 1.5rem;
  column-gap: 1.25rem;
}

.nav-items .option-container h3 {
  font-size: calc(2vh + 0.5vw);
}

.nav-items .option-container:hover {
  background-color: #fefffe;
}

.nav-items .option-container:hover h3,
.nav-items .option-container:hover .iconify {
  color: #1893d4;
}

.header-container {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: white;
  box-shadow: 0 4px 5px #ccd1d8;
  z-index: 1;
}

.header {
  height: calc(100% - 1.25rem);
  display: grid;
  grid-template-rows: 26% 50%;
  row-gap: 25%;
  padding-top: 1.25rem;
  padding-left: 2.5rem;
  padding-right: 4rem;
  background-color: white;
}

.up-header {
  display: grid;
  grid-template-columns: 62% 20%;
  column-gap: 18%;
}

.search {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search .iconify {
  width: 1.75vw;
  height: auto;
  color: black;
}

.search-bar {
  width: 100%;
  height: 4.5vh;
  padding: 0 0.625rem;
  font-size: calc(1vw + 10%);
  background-color: #e2e9f1;
  border: none;
  border-radius: 1.25rem;
}

.search input[type="text"]:focus {
  outline: none;
}

.mini-user-info {
  display: grid;
  margin-right: 8%;
  justify-content: end;
  grid-template-columns: repeat(3, auto);
  column-gap: 1.875rem;
  align-items: center;
  white-space: nowrap;
}

.mini-user-info .iconify {
  width: 1.75vw;
  height: auto;
  cursor: pointer;
}

.mini-user-info .ring-notification-bell {
  display: none;
}

.mini-user-info img {
  width: 3.25vw;
  height: auto;
  border-radius: 50%;
}

.mini-user-info h4 {
  font-size: calc(1vw + 0.5vh);
  font-weight: bolder;
}

.down-header {
  display: grid;
  grid-template-columns: 5fr 3.5fr;
  column-gap: 15%;
}

.user-info {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 4%;
  align-items: center;
}

.user-info img {
  width: 5.25vw;
  height: auto;
  border-radius: 50%;
}

.welcome {
  display: grid;
  row-gap: 0.5rem;
  text-wrap: nowrap;
}

.welcome p {
  font-weight: bolder;
  font-size: 1vw;
}

.welcome a {
  width: fit-content;
}

.welcome h4 {
  font-weight: bolder;
  font-size: calc(1vw + 50%);
}

.user-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.5rem;
  align-items: center;
}

.user-buttons button {
  width: 7vw;
  height: calc(1vh + 40%);
  font-size: 1vw;
  font-weight: bold;
  color: #fcfffe;
  background-color: #1892d5;
  border-radius: 6.25rem;
  border: none;
}

.user-buttons button:hover {
  cursor: pointer;
  opacity: 90%;
}

.main-container {
  grid-column-start: 2;
  grid-row-start: 2;
  background-color: #e3e8f1;
}

main {
  width: calc(100% - 1.875rem);
  height: calc(100% - 7rem);
  max-height: 110vh;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 1fr 1fr;
  row-gap: 2.5rem;
  margin: 2rem 0.625rem 5rem 1.25rem;
}

.projects-section {
  display: grid;
  row-gap: 1rem;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 1;
  grid-template-rows: min-content auto;
}

.projects-section h2 {
  max-height: calc(1vw + 30%);
  font-size: calc(1vw + 30%);
  font-weight: bolder;
}

.projects {
  display: grid;
  column-gap: 0.5rem;
  row-gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, min-content);
  overflow: hidden;
}

.project-wrapper {
  width: calc(100vw / 3.7);
  height: calc(100vh / 3.1);
  padding-left: 0.5rem;
  background-color: #f0b429;
  border-radius: 0.5rem;
  box-shadow: 2px 4px 4px #ced2da;
}

.project {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 70% 30%;
  padding-left: 1.25rem;
  background-color: #fffefe;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 4%;
  padding-right: 1rem;
  justify-content: center;
}

.text-container a {
  width: fit-content;
}

.text-container h4 {
  font-weight: bolder;
  font-size: calc(1vw + 20%);
}

.text-container p {
  line-height: 110%;
  color: #8b8b8a;
  font-weight: 500;
  font-size: calc(1vw + 10%);
}

.interaction-icons {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-self: end;
  justify-content: space-evenly;
  align-items: center;
}

.interaction-icons .iconify {
  width: 1.75vw;
  height: auto;
}

.announcements-section {
  display: grid;
  row-gap: 1rem;
  grid-row: 1;
  grid-column: 2;
  grid-template-rows: min-content auto;
}

.announcements-section h2 {
  font-size: calc(1vw + 30%);
  font-weight: bolder;
}

.announcements {
  height: calc(100vh / 2.1);
  display: grid;
  justify-content: space-between;
  row-gap: 5%;
  padding: 2rem 1.5rem;
  background-color: #fffefe;
  border-radius: 0.5rem;
  box-shadow: 2px 4px 4px #ced2da;
}

.announcements div:not(:last-child) {
  padding-bottom: 5%;
  border-bottom: 0.125rem solid #d7d7d7;
}

.announcement-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6%;
  padding: 0 0.5rem;
  overflow: hidden;
}

.announcement-wrapper a {
  width: fit-content;
}

.announcement-wrapper h4 {
  font-size: calc(0.5vw + 1.25vh);
  font-weight: bolder;
}

.announcement-wrapper p {
  font-size: calc(0.5vw + 0.75vh);
  line-height: 110%;
  color: #8b8a8a;
}

.trending-section {
  display: grid;
  row-gap: 1rem;
  grid-row: 2;
  grid-column: 2;
  grid-template-rows: min-content auto;
}

.trending-section h2 {
  font-size: calc(1vw + 30%);
  font-weight: bolder;
}

.trending {
  height: calc(100vh / 2.2);
  background-color: #fffefe;
  border-radius: 0.5rem;
  box-shadow: 2px 4px 4px #ced2da;
}

.trending-wrapper {
  height: 100%;
  display: grid;
  row-gap: 8%;
  align-content: space-evenly;
  padding: 1.5rem;
}

.trending-topic {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 8%;
  align-items: center;
}

.trending-topic img {
  width: 3.25vw;
  height: auto;
  border-radius: 50%;
}

.trending-topic-info {
  height: 80%;
  display: grid;
  align-items: center;
}

.trending-topic-info a {
  width: fit-content;
}

.trending-topic-info h3 {
  font-size: 1vw;
}

.trending-topic-info p {
  font-size: 1vw;
  color: #888888;
}

@media screen and (max-width: 850px) {
  #page-container {
    grid-template-columns: 25% 75%;
    grid-template-rows: 12% 88%;
  }

  .header {
    height: calc(100% - 0.75rem);
    row-gap: 1.5rem;
    padding-top: 0.75rem;
    padding-left: 1.25rem; 
    padding-right: 2rem;
  }

  .mini-user-info {
    column-gap: 0.9375rem;
  }

  .welcome {
    row-gap: 0.25rem;
  }

  .welcome h4 {
    font-size: calc(1vw + 1vh);
  }

  .welcome p {
    font-size: calc(1vw + 1vh);
  }

  .user-buttons {
    column-gap: 0.75rem;
  }

  .user-buttons button {
    width: 7.5vw;
    height: 4vh;
    font-size: calc(1vw + 0.5vh)
  }

  main {
    min-width: fit-content;
    min-height: fit-content;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    column-gap: 10%;
  }

  .projects-section {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .projects-section h2 {
    font-size: calc(1vw + 1.5vh);
  }

  .projects {
    max-height: 106vh;
  }

  .project {
    grid-template-rows: 80% 20%;
    padding-left: 0.75rem;
  }

  .text-container h4 {
    font-size: calc(1vw + 1.25vh);
  }

  .text-container p {
    font-size: calc(1vw + 0.75vh);
  }

  .interaction-icons {
    width: 75%;
  }

  .interaction-icons .iconify {
    width: auto;
    height: 3vh;
  }

  .announcements-section {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
  }
  
  .announcements-section h2 {
    font-size: calc(1vw + 1.5vh);
  }

  .announcements {
    padding: 1rem 0.75rem;
  }

  .announcement-wrapper p {
    font-size: calc(0.5vw + 1.25vh)
  }

  .trending-section {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .trending-section h2 {
    font-size: calc(1vw + 1.5vh);
  }

  .trending-wrapper {
    padding: 0.75rem;
    row-gap: 0;
  }

  .trending-wrapper img {
    width: auto;
    height: 6vh;
  }

  .trending-topic-info h3, .trending-topic-info p {
    font-size: calc(1vw + 1.5vh);
  }
}

@media screen and (max-width: 700px) {

  #page-container {
    grid-template-columns: 35% 65%;
  }

  .up-header {
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
  }

  .down-header {
    column-gap: 10%;
  }

  main {
    grid-template-rows: 1fr 0.75fr;
    column-gap: 0;
  }

  .projects-section {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .projects {
    grid-template-columns: 1fr;
    row-gap: 1.25rem;
  }

  .announcements-section {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .trending-section {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .trending-topic-info h3, .trending-topic-info p {
    font-size: calc(0.5vw + 1.5vh);
  }
}